
<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="picture">
  <%= f.file_field :picture_url %>
  </span>
  <br>
  <%= f.label :タイトル %>
  <%= f.text_field :title, :size => "50" %>
  <br>
  <%= f.label :コメント %>
  <%= f.text_area :content, :size => "50x4" %>

  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
   <br>

  <%= link_to "一覧画面に戻る", pictures_path %>

<% end %>