<div class="container">
  <div class="row">
    <h1 class="h2 title">投稿画像一覧</h1>
  </div>
  <div class="row" id="NewPostBox">
    <div id="NewPost" class="btn btn-default">
      <%= link_to new_picture_path do %>
        <%= fa_icon("picture-o", text: "新規投稿", left: true) %>
      <% end %>
    </div>
  </div>

<% @pictures.each do |picture| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
    <div class="squareBox">
      <p><%= image_tag picture.picture_url, :class => "objectFit" %></p>
    </div> 
    <div class="clearfix pictureMenu">
      <div class="pull-left name-over">
        <%= picture.user.name  %>
      </div>
      <div class="pull-right">
        <%= link_to picture_path(picture.id), { :class => "modalBtn" } do %>
          <%= fa_icon("external-link 2x") %>
        <% end %>
        <%= link_to edit_picture_path(picture.id) do %>
          <%= fa_icon("pencil-square-o 2x") %>
        <% end %>
        <%= link_to picture_path(picture.id), method: :delete, data:{confirm: '本当に削除して良いですか？' } do %>
          <%= fa_icon("trash-o 2x") %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<div id="blog-page-top-btn" class="blog-page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

</div>

