<!DOCTYPE html>
<html>
<head>
  <title>Instantalbum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <p class="leckerli" ><%= link_to "InstantAlubum", pictures_path %></p>
  <ul>
    <li><%= link_to "トップページ", pictures_path %></li>
    <li><%= link_to "投稿する", new_picture_path %></li>
    <li><%= link_to "マイページ", edit_user_registration_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</header>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

<footer>
  <p>© 2017 Wataru Inoue</p>
</footer>
</body>
</html>